<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-Page</title>
</head>
<body>
    <h1>
        HELLO FROM Home-Page
    </h1>
    <form method="get" action="/users">
        <h1>The current userbase consists of <%=numOfUsers%> </h1>
        <button>User List</button>
    </form>

</body>
</html>