<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>
        List of users with their id, username and email.
    </h3>
    <form method="get" action="/users">

<%  for(let i=0; i<numOfUsers;i++ ){%>
    <ul> 
        <li>
            <h6> ID: <%= userdata[0][i].id %> </h6>
        <h6> USERNAME: <%= userdata[0][i].username %> </h6>
        <h6> EMAIL: <%= userdata[0][i].email %> </h6> 
        <button>Edit</button>
    <hr>  </li>
    </ul>
            
        
<% }%>

    </form>
</body>
</html>
